.dynamic-form {
    margin: 1rem;
}

.field-container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.bg-none {
    background: none;
    border: none;
    font-size: 10px;
    cursor: pointer;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.field-properties {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* Adjust gap between checkboxes if needed */
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-3 {
    gap: 1rem;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 0.5rem;
}

.radio-option label {
    margin: 0;
}

.checkbox-option {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-option label {
    margin: 0;
}

.form-control,
.form-select,
.form-check-input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-control-lg,
.form-select-lg {
    font-size: 1.25rem;
}

.form-control-solid {
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
}

.field-selection {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.field-selection select {
    margin-right: 1rem;
}